.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 10px;
    overflow-x: scroll;
    width: '100%' ;
    cursor: grab;
}

::-webkit-scrollbar {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 130px;
    height: 150px;
    padding: 10px;
    background-color: #d1d1d1;
    border-radius: 10px;
    cursor: pointer;
}

.container:hover {
    background-color: #c1c1c1; 
}

.icon {
    width: 40px;
    height: 40px;
    color: black;
}

.text {
    text-align: center;
    margin-top: 5px; 
}
